In [84]:
#Import dependencies
import pandas as pd
from sqlalchemy import create_engine
from password import password

In [90]:
#Establish Connection
engine = create_engine(f'postgresql://postgres:postgres@localhost:5432/etlproject_db')

connection = engine.connect()

In [66]:
#Establish URL
url = 'https://www.spotrac.com/mlb/rankings/2019/salary/'

In [11]:
#Pull in data
raw_scrape = pd.read_html(url)
raw_scrape

[    Unnamed: 0                  Player POS  Age       salary
 0          1.0  Stephen Strasburg  WSH  SP   30  $39,333,334
 1          2.0       Max Scherzer  WSH  SP   34  $37,505,562
 2          3.0       Zack Greinke  HOU  SP   35  $34,500,000
 3          4.0        David Price  BOS  SP   33  $31,000,000
 4          NaN    Clayton Kershaw  LAD  SP   31  $31,000,000
 ..         ...                     ...  ..  ...          ...
 95         NaN     Andrew Cashner  BOS  RP   32  $12,500,000
 96        97.0      Marcell Ozuna  STL  LF   28  $12,250,000
 97        98.0       Manny Machado  SD  3B   26  $12,000,000
 98         NaN    Xander Bogaerts  BOS  SS   26  $12,000,000
 99         NaN      D.J. LeMahieu  NYY  2B   30  $12,000,000

 [100 rows x 5 columns]]

In [72]:
#Isolating table
raw_df = raw_scrape
raw_df

[    Unnamed: 0                  Player POS  Age       salary  \
 0          1.0  Stephen Strasburg  WSH  SP   30  $39,333,334
 1          2.0       Max Scherzer  WSH  SP   34  $37,505,562
 2          3.0       Zack Greinke  HOU  SP   35  $34,500,000
 3          4.0        David Price  BOS  SP   33  $31,000,000
 4          NaN    Clayton Kershaw  LAD  SP   31  $31,000,000
 ..         ...                     ...  ..  ...          ...
 95         NaN     Andrew Cashner  BOS  RP   32  $12,500,000
 96        97.0      Marcell Ozuna  STL  LF   28  $12,250,000
 97        98.0       Manny Machado  SD  3B   26  $12,000,000
 98         NaN    Xander Bogaerts  BOS  SS   26  $12,000,000
 99         NaN      D.J. LeMahieu  NYY  2B   30  $12,000,000

           Player Name Team First Name  Last Name
 0   Stephen Strasburg  WSH    Stephen  Strasburg
 1        Max Scherzer  WSH        Max   Scherzer
 2        Zack Greinke  HOU       Zack    Greinke
 3         David Price  BOS      David      Price
 4     Clayton Kershaw  LAD    Clayton    Kershaw
 ..                ...  ...        ...        ...
 95     Andrew Cashner  BOS     Andrew    Cashner
 96      Marcell Ozuna  STL    Marcell      Ozuna
 97      Manny Machado   SD      Manny    Machado
 98    Xander Bogaerts  BOS     Xander   Bogaerts
 99      D.J. LeMahieu  NYY       D.J.   LeMahieu

 [100 rows x 9 columns]]

In [25]:
#Splitting out the names with the positions
raw_df[['First Name','Last Name', 'Team']] = raw_df["Player"].str.split(n=2, expand=True)


#Combining back the first and last name
raw_df[['Player Name']] = raw_df['First Name'] + ' ' + raw_df['Last Name']

raw_df

,Unnamed: 0,Player,POS,Age,salary,Player Name,Team,First Name,Last Name
0,1.0,Stephen Strasburg WSH,SP,30,"$39,333,334",Stephen Strasburg,WSH,Stephen,Strasburg
1,2.0,Max Scherzer WSH,SP,34,"$37,505,562",Max Scherzer,WSH,Max,Scherzer
2,3.0,Zack Greinke HOU,SP,35,"$34,500,000",Zack Greinke,HOU,Zack,Greinke
3,4.0,David Price BOS,SP,33,"$31,000,000",David Price,BOS,David,Price
4,NaN,Clayton Kershaw LAD,SP,31,"$31,000,000",Clayton Kershaw,LAD,Clayton,Kershaw
...,...,...,...,...,...,...,...,...,...
95,NaN,Andrew Cashner BOS,RP,32,"$12,500,000",Andrew Cashner,BOS,Andrew,Cashner
96,97.0,Marcell Ozuna STL,LF,28,"$12,250,000",Marcell Ozuna,STL,Marcell,Ozuna
97,98.0,Manny Machado SD,3B,26,"$12,000,000",Manny Machado,SD,Manny,Machado
98,NaN,Xander Bogaerts BOS,SS,26,"$12,000,000",Xander Bogaerts,BOS,Xander,Bogaerts
99,NaN,D.J. LeMahieu NYY,2B,30,"$12,000,000",D.J. LeMahieu,NYY,D.J.,LeMahieu

In [29]:
#Create a filtered dataframe from specific columns
salary_cols = ["Player Name", "Team", "POS", "salary", "Age"]
info_df = raw_df[salary_cols].copy()

info_df

          Player Name Team POS       salary  Age
0   Stephen Strasburg  WSH  SP  $39,333,334   30
1        Max Scherzer  WSH  SP  $37,505,562   34
2        Zack Greinke  HOU  SP  $34,500,000   35
3         David Price  BOS  SP  $31,000,000   33
4     Clayton Kershaw  LAD  SP  $31,000,000   31
..                ...  ...  ..          ...  ...
95     Andrew Cashner  BOS  RP  $12,500,000   32
96      Marcell Ozuna  STL  LF  $12,250,000   28
97      Manny Machado   SD  3B  $12,000,000   26
98    Xander Bogaerts  BOS  SS  $12,000,000   26
99      D.J. LeMahieu  NYY  2B  $12,000,000   30

[100 rows x 5 columns]

In [35]:
#Establish URL to update team names from abbreviations to names
abbrev_url = 'https://www.reddit.com/r/baseball/comments/3t97mi/team_abbreviations/'

In [39]:
#Pull in data
abbreviation_scrape = pd.read_html(abbrev_url)
abbreviation_scrape

[            Team Abbreviation
 0         Angels       LAAANA
 1         Astros          HOU
 2      Athletics          OAK
 3      Blue Jays          TOR
 4         Braves          ATL
 5        Brewers          MIL
 6      Cardinals          STL
 7           Cubs          CHC
 8   Diamondbacks          ARI
 9        Dodgers        LADLA
 10        Giants           SF
 11       Indians          CLE
 12      Mariners          SEA
 13       Marlins          MIA
 14          Mets          NYM
 15     Nationals          WAS
 16       Orioles          BAL
 17        Padres           SD
 18      Phillies          PHI
 19       Pirates          PIT
 20       Rangers          TEX
 21          Rays           TB
 22       Red Sox          BOS
 23          Reds          CIN
 24       Rockies          COL
 25        Royals           KC
 26        Tigers          DET
 27         Twins          MIN
 28     White Sox      CWS CHW
 29       Yankees     NYYNY AL,
         Team  MLB BRef ESPN Retro Prsp
 0  White Sox  CWS  CHW  CHW   CHA  CHA
 1       Cubs  CHC  CHC  CHC   CHN  CHN
 2  Nationals  WSH  WSN  WSH   WAS  WAS
 3     Angels  LAA  LAA  LAA   ANA  ANA
 4    Dodgers  LAD  LAD  LAD   LAN  LAN
 5    Yankees  NYY  NYY  NYY   NYA  NYA
 6       Mets  NYM  NYM  NYM   NYN  NYN
 7  2-ltr Tms    2    3    2     3    3]

In [40]:
#Specifying data we want
abbrev_df = abbreviation_scrape[0]
abbrev_df

            Team Abbreviation
0         Angels       LAAANA
1         Astros          HOU
2      Athletics          OAK
3      Blue Jays          TOR
4         Braves          ATL
5        Brewers          MIL
6      Cardinals          STL
7           Cubs          CHC
8   Diamondbacks          ARI
9        Dodgers        LADLA
10        Giants           SF
11       Indians          CLE
12      Mariners          SEA
13       Marlins          MIA
14          Mets          NYM
15     Nationals          WAS
16       Orioles          BAL
17        Padres           SD
18      Phillies          PHI
19       Pirates          PIT
20       Rangers          TEX
21          Rays           TB
22       Red Sox          BOS
23          Reds          CIN
24       Rockies          COL
25        Royals           KC
26        Tigers          DET
27         Twins          MIN
28     White Sox      CWS CHW
29       Yankees     NYYNY AL

In [56]:
#Updating abbreviations to match other data source
abbrev_df.iat[0,1] = 'LAA'
abbrev_df.iat[9,1] = 'LAD'
abbrev_df.iat[28,1] = 'CHW'
abbrev_df.iat[29,1] = 'NYY'
abbrev_df.iat[15,1] = 'WSH'

abbrev_df

            Team Abbreviation
0         Angels          LAA
1         Astros          HOU
2      Athletics          OAK
3      Blue Jays          TOR
4         Braves          ATL
5        Brewers          MIL
6      Cardinals          STL
7           Cubs          CHC
8   Diamondbacks          ARI
9        Dodgers          LAD
10        Giants           SF
11       Indians          CLE
12      Mariners          SEA
13       Marlins          MIA
14          Mets          NYM
15     Nationals          WSH
16       Orioles          BAL
17        Padres           SD
18      Phillies          PHI
19       Pirates          PIT
20       Rangers          TEX
21          Rays           TB
22       Red Sox          BOS
23          Reds          CIN
24       Rockies          COL
25        Royals           KC
26        Tigers          DET
27         Twins          MIN
28     White Sox          CHW
29       Yankees          NYY

In [78]:
#Merging the two to update team names
combined_df = pd.merge(info_df, abbrev_df, how = 'left', left_on= ['Team'], right_on = ['Abbreviation'])

combined_df

          Player Name Team_x POS       salary  Age     Team_y Abbreviation
0   Stephen Strasburg    WSH  SP  $39,333,334   30  Nationals          WSH
1        Max Scherzer    WSH  SP  $37,505,562   34  Nationals          WSH
2        Zack Greinke    HOU  SP  $34,500,000   35     Astros          HOU
3         David Price    BOS  SP  $31,000,000   33    Red Sox          BOS
4     Clayton Kershaw    LAD  SP  $31,000,000   31    Dodgers          LAD
..                ...    ...  ..          ...  ...        ...          ...
95     Andrew Cashner    BOS  RP  $12,500,000   32    Red Sox          BOS
96      Marcell Ozuna    STL  LF  $12,250,000   28  Cardinals          STL
97      Manny Machado     SD  3B  $12,000,000   26     Padres           SD
98    Xander Bogaerts    BOS  SS  $12,000,000   26    Red Sox          BOS
99      D.J. LeMahieu    NYY  2B  $12,000,000   30    Yankees          NYY

[100 rows x 7 columns]

In [82]:
#Selecting the fields we want
cols = ["Player Name", "Team_y", "POS", "salary", "Age"]
player_salary_df = combined_df[cols].copy()

player_salary_df = player_salary_df.rename(columns={"Team_y": "Team", "POS" : "Position", "salary": "Salary"})

player_salar_df = player_salary.

          Player Name       Team Position       Salary  Age
0   Stephen Strasburg  Nationals       SP  $39,333,334   30
1        Max Scherzer  Nationals       SP  $37,505,562   34
2        Zack Greinke     Astros       SP  $34,500,000   35
3         David Price    Red Sox       SP  $31,000,000   33
4     Clayton Kershaw    Dodgers       SP  $31,000,000   31
..                ...        ...      ...          ...  ...
95     Andrew Cashner    Red Sox       RP  $12,500,000   32
96      Marcell Ozuna  Cardinals       LF  $12,250,000   28
97      Manny Machado     Padres       3B  $12,000,000   26
98    Xander Bogaerts    Red Sox       SS  $12,000,000   26
99      D.J. LeMahieu    Yankees       2B  $12,000,000   30

[100 rows x 5 columns]

In [101]:
#Streaming directly to database
player_salary_df.to_sql('salaries', con=engine, index= False)

ValueError: Table 'salaries' already exists.